<style>
    @font-face {
        font-family: sponge;
        src: url("SpongeboyRegular-gx2n6.otf");
    }

    body {
        display: flex;
        margin: 0;
        background-color: deeppink;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .controls {
        display: flexbox;
        font-family: sponge;
        font-size: 490%;
        height: 400;
        width: 400;
        color: deeppink;
        background-color: rebeccapurple;
        border-radius: 100%;
        margin:7% 0;

    }

    .extra {
        display: flexbox;
        background-color: rebeccapurple;
        width: 100%;
        
       
   

    }
    .extra_flex{
        color:deeppink;
        font-size: 300%;
        font-family: sponge;
        display:flex;
        flex-direction: row;
    }
    .info{
        width: 50%;
        display: flexbox;
    }
    .time{
        align-self: center;
        width: 50%;
        display: flexbox;
    }

</style>
<button class="controls">
    RECORD

</button>
<div class="extra">
    <div class="extra_flex">
        <div class="info">
            <div class="name">NAME</div>
            <div class="date">DATE</div>
        </div>
        <div class="time">Time</div>
    </div>
    
</div>